{% extends "base.html" %}

{% block title %}MSY Home{% endblock %}


{% block content %}

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <div class="row">

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (October)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ latest_revenue }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Revenue (6-Month)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ annual_revenue }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Best-Selling Item (Units)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ best_item_name }}</div>
                            <div class="text-xs font-weight-bold text-gray-600 mt-1">{{ best_item_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Top Warehouse (Revenue)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ top_warehouse_name }}</div>
                            <div class="text-xs font-weight-bold text-gray-600 mt-1">{{ top_warehouse_revenue }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-warehouse fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Highest Revenue Item</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ highest_rev_item_name }}</div>
                            <div class="text-xs font-weight-bold text-gray-600 mt-1">{{ highest_rev_item_amount }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Worst-Selling Item (Units)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ worst_item_name }}</div>
                            <div class="text-xs font-weight-bold text-gray-600 mt-1">{{ worst_item_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-down fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <div class="row">

        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Monthly Revenue (with Prediction)</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie-container">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small" id="pie-chart-legend">
                        </div>
                </div>
            </div>
        </div>

    </div> </div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

<script>
// --- Helper Function ---
function number_format(number, decimals, dec_point, thousands_sep) {
  // ... (number format function code)
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Set new default font family and color
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// --- Area Chart (EXISTING) ---
var ctxArea = document.getElementById("myAreaChart");
var myAreaChart = new Chart(ctxArea, {
  type: 'line',
  data: {
    labels: {{ chart_labels|safe }},
    datasets: [{
      label: "Revenue",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ chart_data|safe }},
    },
    // Prediction Line
    {
      label: "Prediction",
      lineTension: 0,
      backgroundColor: "rgba(0, 0, 0, 0)",
      borderColor: "rgba(78, 115, 223, 0.5)",
      borderDash: [5, 5],
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 0.5)",
      pointBorderColor: "rgba(78, 115, 223, 0.5)",
      pointHoverRadius: 3,
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ prediction_data|safe }},
    },
    // Good Month Line
    {
      label: "Good Month",
      lineTension: 0,
      backgroundColor: "rgba(0, 0, 0, 0)",
      borderColor: "rgba(28, 200, 138, 0.5)",
      borderDash: [5, 5],
      pointRadius: 3,
      pointBackgroundColor: "rgba(28, 200, 138, 0.5)",
      pointBorderColor: "rgba(28, 200, 138, 0.5)",
      pointHoverRadius: 3,
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ good_month_data|safe }},
    },
    // Bad Month Line
    {
      label: "Bad Month",
      lineTension: 0,
      backgroundColor: "rgba(0, 0, 0, 0)",
      borderColor: "rgba(246, 194, 62, 1)",
      borderDash: [5, 5],
      pointRadius: 3,
      pointBackgroundColor: "rgba(246, 194, 62, 1)",
      pointBorderColor: "rgba(246, 194, 62, 1)",
      pointHoverRadius: 3,
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ bad_month_data|safe }},
    }
    ],
  },
  options: {
    maintainAspectRatio: false,
    layout: { padding: { left: 10, right: 25, top: 25, bottom: 0 } },
    scales: {
      xAxes: [{
        gridLines: { display: false, drawBorder: false },
        ticks: { maxTicksLimit: 7 }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          callback: function(value, index, values) {
            return '$' + number_format(value);
          }
        },
        gridLines: { color: "rgb(234, 236, 244)", zeroLineColor: "rgb(234, 236, 244)", drawBorder: false, borderDash: [2], zeroLineBorderDash: [2] }
      }],
    },
    legend: { display: false },
    tooltips: {
      backgroundColor: "rgb(255,255,255)", bodyFontColor: "#858796", titleMarginBottom: 10, titleFontColor: '#6e707e', titleFontSize: 14, borderColor: '#dddfeb', borderWidth: 1, xPadding: 15, yPadding: 15, displayColors: false, intersect: false, mode: 'index', caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});


// --- *** NEW: Donut Chart *** ---
var ctxPie = document.getElementById("myPieChart");
var donutData = {{ donut_chart_data|safe }};

var myPieChart = new Chart(ctxPie, {
  type: 'doughnut',
  data: {
    labels: donutData.labels,
    datasets: [{
      data: donutData.data,
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b', '#858796'],
      hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#dda20a', '#c03125', '#60616f'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var dataset = chart.datasets[tooltipItem.datasetIndex];
          var total = dataset.data.reduce(function(previousValue, currentValue) { return previousValue + currentValue; });
          var currentValue = dataset.data[tooltipItem.index];
          var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
          var label = chart.labels[tooltipItem.index];
          return label + ': $' + number_format(currentValue) + ' (' + percentage + '%)';
        }
      }
    },
    legend: {
      display: true,
      position: 'bottom',
      labels: {
        boxWidth: 12,
        padding: 10
      }
    },
    cutoutPercentage: 80,
  },
});

</script>

{% endblock %}